:root{
    --color-contrast :#D6909A;
    --cancel-color: red;
    --color-btn-hover: #E5ADC8;
    --color-background: #23272a;
    --color-details: #2c2f33;
    --background-modal: #452c2e;
}

.btn-add-main{
    margin: 15px 0 0 15px;
    padding: 20px 10px;
    background-color: #452c2e;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color: #fff;
    transition: .5s;
}

.btn-add-main:hover{
    background-color: #907374;
}

.btn{
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    color: #fff;
}

.parcel{
    background-color: #137fd9;
}

.parcel:hover{
    transition: .2s;
    background-color: #89BFEC;
}

.pay{
    background-color: #4af970;
}

.pay:hover{
    transition: .2s;
    background-color: #A4FCB7;
}

.cancel{
    background-color: #ee0430;
}

.cancel:hover{
    transition: .2s;
    background-color: #F68197;
}

.add{
    background-color: #D6909A;
}

.add:hover{
    transition: .2s;
    background-color: #E6BCC2;
}

.error{
    background-color: #ee0430;
}

.error:hover{
    transition: .2s;
    background-color: #F68197;
}


.btn-login{
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-top: 15%;
    width: 50%;
    padding: 10px 7px;
    background-color: var(--color-contrast);
}

.btn-login:hover{
    background: -webkit-linear-gradient(var(--color-contrast), var(--color-btn-hover));
}

.btn-table{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #452c2e;
}

.btn-cancel-error{
    width: 50%;
    padding: 20px 25px;
    background-color: var(--color-details);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    color: #fff;
    margin: auto;
}

.btn-cancel-error:hover{
    background-color:#23272a;
}

@media(width < 500px){
    .btn{
        padding: 5px 10px;
    }
}