:root{
    --color-contrast :#D6909A;
    --cancel-color: red;
    --color-btn-hover: #E5ADC8;
    --color-background: #23272a;
    --color-details: #2c2f33;
}

.btn-add-main{
    margin: 15px 0 0 15px;
    padding: 20px 10px;
    background-color: var(--color-contrast);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.btn-add{
    padding: 10px 25px;
    background-color: var(--color-btn-hover);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    color: #fff;
}

.btn-cancel{
    padding: 20px 25px;
    background-color: var(--color-details);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    color: #fff;
}

.btn-add:hover{
    background-color: #ffdae5;
}

.btn-add-main:hover{
    background-color: var(--color-btn-hover);
}

.btn-cancel:hover{
    background-color: var(--color-background);
}


.btn-login{
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-top: 15%;
    width: 50%;
    padding: 10px 7px;
    background-color: var(--color-contrast);
}

.btn-login:hover{
    background: -webkit-linear-gradient(var(--color-contrast), var(--color-btn-hover));
}