.buy-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.buy-form > input, select, textarea{
    margin: 10px 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-bottom: solid 1px;
    width: 100%;
    color: #fff;
}

textarea{
    resize: vertical;
}

select{
    background-color: var(--background-modal);
}

.add-buy-modal{
    margin: auto;
    background: var(--background-modal);
    border-radius: 3px;
    padding: 20px;
    border: none;
}

.set-buy-modal{
    margin: auto;
    background: var(--background-modal);
    border: none;
    border-radius: 3px;
    padding: 20px;
}

.show-buy-modal{
    width: 38%;
    margin: auto;
    background: var(--background-modal);
    border: none;
    border-radius: 3px;
    padding: 20px;
}

.show-buy-modal::-webkit-scrollbar{
    width: 1px;
    background-color: black;
}

.show-buy-modal::-webkit-scrollbar-thumb{
    background-color: white;
}

.search-buy{
    width: 100%;
}

.buttons{
    margin: 20px 0;
    text-align: center;
}

.details-container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.details{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: #fff;
}

.details > input{
    width: 100%;
    margin: 7px 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-bottom: solid  1px;
    color: #fff;
    padding: 5px;
}

.buttons{
    width: 100%;
    height: 100%;
    margin: 20px 0;
    text-align: center;
    display: block;
}

.container-table{
    margin: 1% auto 0;
    width: 96%;
    height: 80vh;
    overflow-y: scroll;
}

.container-table::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}

.container-table::-webkit-scrollbar-thumb{
    background-color:#452c2e;
}

@media(width < 700px){
    .show-buy-modal{
        width: 80%;
    }

    .buttons{
        display: flex;
        flex-direction: column;
    }

    .details{
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        color: #fff;
    }
}

@media(width < 500px){

    .buttons{
        padding: 5px 10px;
    }

    .details{
        width: 40%;
    }
}