.customer-form{
    width: 80%;
    height: 50vh;
    margin: auto;
}

.details-container{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.installment-details{
    display: flex;
    flex-direction: column;
}

.buttons{
    text-align: center;
}

.search-customer{
    width: 100%;
}

/* width: 50%;
height: 50vh;
margin: auto;
background: -webkit-linear-gradient(#b76e79, #ffc0cb);
border: none;
border-radius: 3px;
font-size: 14px; */