/* Modal de reparcelamento e pagamento */
.customer-form{
    margin: auto;
}

.customer-form > input{
    margin: 8px 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-bottom: solid  1px;
    color: #fff;
}

.installment-customer-modal{
    margin: auto;
    background: var(--background-modal);
    border: none;
    border-radius: 3px;
    padding: 20px;
}

.details-container{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.installment-details{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: #fff;
}

.installment-details > input{
    margin: 7px 0;
    border: none;
    background-color: transparent;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-bottom: solid  1px;
    color: #fff;
}

.buttons{
    margin: 20px 0;
    text-align: center;
}

.search-customer{
    width: 100%;
}

 /* Modal de adicionar cliente */

.add-customer-modal{
    margin: auto;
    background: var(--background-modal);
    border-radius: 3px;
    padding: 20px;
    border: none;
}

.container-add-modal, .container-set-modal{
    display: flex;
    gap: 10px;
}

/* Modal alteração cliente */


.set-customer-modal{
    margin: auto;
    background: var(--background-modal);
    border-radius: 3px;
    padding: 20px;
    border: none;
}

.container-table{
    margin: 1% auto 0;
    width: 96%;
    height: 80vh;
    overflow-y: scroll;
}

.container-table::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}

.container-table::-webkit-scrollbar-thumb{
    background-color:#452c2e;
}

@media(width < 700px){
    .installment-customer-modal{
        width: 80%;
    }

    .add-customer-modal, .set-customer-modal{
        text-align: center;
        width: 35%;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }

    .customer-form > input{
        width: 100%;
    }

    .container-add-modal, .container-set-modal{
        display: flex;
        flex-direction: column;
    }

}

@media(width < 500px){

    .buttons{
        width: 100%;
    }
    
    .installment-details{
        width: 40%;
    }
}
