.user-container{
    display: flex;
    justify-content: end;
    margin: 10px 40px 0px 0px;
    gap: 5px;
}

.adm-container{
    margin: 30px auto;
    width: 60%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.admin-function{
    width: 45%;
    height: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #e7eae7;
    transition: .5s;
}

.admin-function:hover{
    color: #452c2e;
    border-color: #452c2e;
    transform: scale(1.05);
}

.admin-function i{
    font-size: 50px;
}

.reports-modal{
    margin: auto;
    background: var(--background-modal);
    border-radius: 3px;
    padding: 20px;
    color: #fff;
    border: none;
}

.search-form > input{
    margin-right: 20px;
    padding: 4px;
}

.buttons{
    text-align: center;
}

.reports-table{
    width: 100%;  
    color: #e7eae7;
    margin: 20px auto;
}

.reports-table th{
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.records-modal{
    margin: auto;
    background: var(--background-modal);
    border-radius: 3px;
    padding: 20px;
    color: #fff;
    border: none;
}

