:root{
    --color-contrast :#D6909A;
    --color-btn-hover: #E5ADC8;
    --color-background: #23272a;
    --color-details: #2c2f33;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background: -webkit-linear-gradient(var(--color-contrast), var(--color-btn-hover));
}

.container-login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-logo{
    width: 35%;
    height: 50vh;
}

.container-logo > img {
    width: 100%;
    height: 100%;
}

.container-login{
    background-color: #fbeded10;
    width: 25%;
    height: 60vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px var(--color-contrast);
}

.form-login{
    text-align: center;
    width: 100%;
}

.form-login input{
    background-color: transparent;
    outline: none;
    display: block;
    padding: 5%;
    width: 80%;
    margin: auto;
    border: none;
    border-bottom: solid var(--color-details) 1px;
    color: var(--color-details);
    letter-spacing: 3px;
}

input::placeholder{
    color: var(--color-details);
    font-weight:400;
    letter-spacing: 3px;
    opacity: 70%;
}

.input-container {
    margin-bottom: 10%;
    opacity: 50%;
}

.erro-login-modal{
    margin: auto;
    background: -webkit-linear-gradient(#b76e79, #ffc0cb);
    border: none;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

.erro-login-modal > i, p{
    color: #23272a;
    margin: 5px 0;
}