:root{
    --color-contrast :#D6909A;
    --color-btn-hover: #E5ADC8;
    --color-background: #23272a;
    --color-details: #2c2f33;
}

main {
    margin-left: 53px;
}

body{
    background-color: var(--color-background);
    color: #fff;
    font-family: 'Lato', sans-serif;
}