main {
    margin-left: 53px;
    height: 100vh;
    /* background-image: url('../Images/LauraModasLogo6-removebg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

body{
    background: url(../Images/Background-RoseGold2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

@media(width < 700px){
    *{
        font-size: 12px;
    }
}
